@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fee;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    color: #fee;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav>* {
    user-select: none;
}

nav .logo {
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #1b1b1b;
    background: #fee;
}

main {
    width: 80%;
    flex-grow: 1;
    margin: 50px auto;
    background-color: #fee;
    display: flex;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:55%;
}

.image>div {
    padding: 50px 0 0;
}

.content {
	flex-basis:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fee;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
    width: 100%;
}

.input-field {
    width: 90%;
    height: 55px;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 0 0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    font-size: 1.1rem;
}

.pass {
    margin: 12px 0;
    color: #444;
}

.pass:hover {
    color: #4d84e2;
}

#togglePassword {
    text-align: center;
    color: #8a8a8a;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #222;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #4d84e2;
}

.check {
    display: block;
    position: relative;
    margin: 12px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.verification-code {
    padding: 20px;
}

.verification-code input[type=text] {
    border: 2px solid #e1e1e1;
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    font-size: 24px;
    margin: 10px;
}

form {
    padding: 10px;
} 

#alert {
    font-size: 18px;
}

.content span {
    display: inline-block;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#resendbtn {
    background-color: #ccc;
}

#warn {
    color: red;
    display: none;
}