@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fee;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    color: #fee;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav>* {
    user-select: none;
}

nav .logo {
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #1b1b1b;
    background: #fee;
}

main {
    text-align: center;
    font-size: 20px;
}

.requirements,
.getStarted {
    padding: 30px;
    background-color: #474e5d;
    color: #fee;
}

.features,
.faq {
    padding: 30px;
    background-color: #82A3A1;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
    padding: 40px 0 10px;
}

.requirements li {
    list-style-type: none;
    text-align: center;
}

.features li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
    padding: 30px 0 10px;
}

.getStarted {
    text-align: left;
}

.getStarted>div {
    padding: 30px;
}

.getStarted li {
    padding: 10px;
}

section>div {
    width: 70%;
    margin: auto;
}

footer {
    background-color: #1b1b1b;
    color: #fee;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}