@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fee;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    color: #fee;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav>* {
    user-select: none;
}

nav .logo {
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #1b1b1b;
    background: #fee;
}

.about-section {
    padding: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.about-section>p {
    width: 70%;
    font-size: 22px;
    margin: auto;
}

.about-features {
    padding: 30px;
    text-align: center;
    background-color: #82A3A1;
}

.about-features>h1 {
    padding: 10px;
}

.about-features h3 {
    font-size: 24px;
}

.about-features>div {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.about-features>div>p {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: 20px;
}

.about-h1 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.team-members {
    padding-bottom: 30px;
    background-color: #474e5d;
    color: #fff;
}

.container {
    padding: 10px;
    text-align: center;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fee;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fee;
    color: #000;
    box-shadow: 0 11px 20px rgb(64 67 86 / 4%);
    border-radius: 10px;
    margin: 10px 20px;
    text-align: center;
    padding: 20px;
    width: 18%;
}

.card img {
    width: 200px;
    border-radius: 100%;
}

footer {
    background-color: #1b1b1b;
    color: #fee;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}